In [6]:
# Cell 1: Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Cell 2: Load your Spotify history data
df = pd.read_csv('Spotify_History.csv', parse_dates=['Date/Time'])

# Cell 3: Inspect data
display(df.head())
display(df.tail())
print(df.columns)

,Date/Time,Song Name,Artist,Song ID
0,2014-12-19T10:31:24Z,Bad (feat. Vassy) - Radio Edit,David Guetta,66b8a84c502856afb78afec2696f4de0
1,2014-12-19T10:31:26Z,Somebody To You,The Vamps,ecca7ca709d298d8610ec7987860b092
2,2014-12-19T10:31:31Z,Change Your Ticket,One Direction,4f316291aecef773c1b877cf6c148844
3,2014-12-22T19:45:10Z,Shower,Becky G,1997c967215fbd12595ff658ade0ef4d
4,2014-12-23T15:54:33Z,Shower,Becky G,1997c967215fbd12595ff658ade0ef4d

,Date/Time,Song Name,Artist,Song ID
179172,"August 26, 2025 at 01:01PM",Die 4 Me,Halsey,6VYAzAQGFsfEAwdorQaZuU
179173,"August 27, 2025 at 01:42PM",Die 4 Me,Halsey,6VYAzAQGFsfEAwdorQaZuU
179174,"August 27, 2025 at 01:47PM",On A Roll - Basic Tape Remix,Ashley O,5YtM5WjclCystH2Xzct19Y
179175,"August 27, 2025 at 01:53PM",Sorry Mama,phem,3DMgTBcfN6Qu1z9BUZuQjN
179176,"August 28, 2025 at 10:42AM",Morning In America,Jon Bellion,3NRzGK0pFfhUgU6i3Kg9m3

Index(['Date/Time', 'Song Name', 'Artist', 'Song ID'], dtype='object')